 
 table.profile {
    margin-left: 16px;
}

.profile th {
    color: #03294a;    
    
    text-align: right;
    vertical-align: top;
    
    padding: 2px 4px;
}

.profile tr {
    border-bottom: solid 1px rgb(237, 243, 248);
    padding: 2px 8px;
}
 

.profile tr.danger th {
    color: #9a0e0e;    
}

.profile tr:nth-child(odd) th {
    background: rgb(237, 243, 248);
    
} 
 
.profile .info {
    color: #737347;
    padding-left: 20px;
    position: relative;
    display: block; 
}

.profile tr.danger  .info {
    color: #d31c1c;
    background-color: #ffe5e5 !important; 
    position: relative;
    padding: 2px 20px;
}

 .profile tr.danger .info::before {
     content: "--";
     display: inline;
 }

@media screen and (min-width: 768px) {
 
    .action-button {
        width: 100%;
    }
} 
