button.circle  {
    width: 48px !important;
    height: 48px !important;
    min-width: auto !important;
    border-radius: 48px !important;
    margin-top: -1px !important;
    margin-left: -8px !important;
}


.app-menu .scroll-container {
    width: calc(100% - 10px);
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 90px); 
    margin: 5px 4px;
    padding: 0 10px 0 6px;
 
}
 
.app-menu .scroll-container::-webkit-scrollbar-thumb {
    background-color: #aebfce;
    border: 1px solid #edf3f8;
    border-radius: 5px;
}

.app-menu .scroll-container::-webkit-scrollbar {
    width: 5px;
}

.app-menu .scroll-container::-webkit-scrollbar-track {
    background-color: #edf3f8;
    border-radius: 5px;
    padding: 2px;
}

.app-menu .logo-system {
    margin: 35px 60px 40px 70px;
    text-align: center;
}

.app-menu .card {
    border: none;
    border-radius: 0;
}

.app-menu .card .card-header {
    border-bottom: none;
    border-radius: 0;
    font-weight: bold;
    color: #13496a;
}

.app-menu .card .card-block .card-title {
    font-size: 1.1em;
    font-weight: normal;
    color: #444;
}

.app-menu .card .card-block .card-text {
    font-size: .8em;
    color: #444;
    line-height: 1.6;
} 