.profile {
    margin: "10px";
} 

.profile h1.person-name {
    
    font-weight: 300;
    font-size: 48px;
    padding: 16px;
    color: #737347;
}
 
.profile table {
    margin-left: 16px;
}

.profile th {
    color: #03294a;    
    
    text-align: right;
    vertical-align: top;
    
    padding: 2px 4px;
}

.profile tr {
    border-bottom: solid 1px rgb(237, 243, 248);
    padding: 2px 8px;
}

.profile tr:nth-child(odd) th {
    background: rgb(237, 243, 248);
    
} 

.profile .info {
    color: #737347;
    padding-left: 20px;
    display: block;
}

@media screen and (min-width: 768px) {
 
    .action-button {
        width: 100%;
    }
} 
