.request-box input {
    width: 33%;
    display: inline-block;
    margin-right: 8px;
}

.request-box {
    text-align: left;
}

@media screen and (max-width: 1000px) {

    .request-box input {
        width: 50%;
        display: inline-block;
    }

}


@media screen and (max-width: 786px) { 

    .request-box input {
        width: 100%;
        margin-bottom: 8px;
    }

    .request-box {
        text-align: right;
    }

     .request-box p {
        text-align: left;
    }

}